*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}


/* ------------header------------ */

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .2s;
}

.container{
    padding: 10px 10%;
    
}

.container .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo img {
    width: 140px;
}

.logo{
    position: relative;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .6s;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 25px;
    position: relative; 
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

nav a:hover,
nav a.active,
nav a.active::before {
    color: #0CC0DF;
    transform: scaleX(1);
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -6px; 
    left: 0;
    background-color: #0CC0DF;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; 
}

nav a:hover::before {
    transform: scaleX(1);
}

.header-text{
    margin-top: 20%;
    font-size: 40px;
}

.header-text .header-text-position{
    color: #0CC0DF;
    font-weight: bold;
    display: inline-block;
}

.header-text span {
    color: #0CC0DF;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
    display: inline-block;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));;
}

.btn-box a{
    display: inline-block;
    background: black;
    padding: 12px 28px;
    margin: 15px 15px 0 0;
    border: 2px solid #0CC0DF;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0CC0DF;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0CC0DF;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.btn-box a:hover{
    color: white;
    transition: .5s;
}


.home-icon a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #0CC0DF;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    color: #0CC0DF;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-icon a i:hover {
    background: #0CC0DF;
    color: black;
    box-shadow: 0px 0 20px #0CC0DF;
}

.btn-about {
    display: inline-block;
    background: #0CC0DF;
    padding: 12px 28px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 1s ease 0s;
    opacity: 0;
    animation: btnAni 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-about:hover {
    background-color: #0CC0DF;
    box-shadow: 0px 15px 20px cyan;
    color: white;
    transform: translateY(-7px);
}
/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes btnAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ------------about------------ */


#about {
    padding: 80px 0;
}

.row {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 h1 {
    color: #0CC0DF;
    font-size: 60px;
    font-weight: 600;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    bottom: -8px;
    background: #0CC0DF;
    transition: 0.5s;
    position: absolute;
}

.tab-links.active::after {
    width: 50%;
}

.tab-links:hover::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents h2 {
    color: #09a1bc;
}

.tab-contents ul li a{
    color: white;
}

.tab-contents ul li span{
    color: #09a1bc;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* ------------about------------ */


#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.contact-text{
    color: #0CC0DF;
    text-align: center;
}

.contact-text p {
    font-size: 20px;
}

.contact-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid #0CC0DF;
    margin-top: 20px;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
}

.contact-info-container a {
    color: #0CC0DF;
    text-decoration: none;
    transition: .3s;
}

.contact-info-container a:hover {
    color: #b2e1fa;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #b2e1fa;
}

.contact-info-container p {
    font-size: 18px;
}

.contact-info-container i {
    color: cyan;
    font-size: 40px;
    margin-right: 15px;
    cursor: pointer;
}

#footer {
    width: 100%;
    color: #0CC0DF;
    text-align: center;
    font-weight: 300;
    padding: 25px 0;
    margin-top: 20px;
}